<div class="page-header"><a href="/recipes"><h1>The Cookbook</h1></a></div>
<div class="container-fluid">
	<div id="menu_list_view" class="sidebar"> </div>
	<div  class="content">
		<div id="menu_view"></div>
	</div>
</div>
