<script>
	categoriesJson = <%= Category.all.to_json.html_safe %>;
</script>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">The Cookbook</a>
    </div>
  </div>
</div>
<div class="container">
	<div class="row">
		<div id="recipe_list_view" class="span3"> </div>
		<div class="span9">
			<div id="recipe_view"></div>
			<div id="recipe_edit_view"></div>
		</div>
	</div>
</div>
